{
  "installed": {
    "client_id": "1011903449310-rhljm5e98skf1pqqrge37t15hr3mdkq1.apps.googleusercontent.com",
    "project_id": "aisearch-437414",
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://oauth2.googleapis.com/token",
    "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
    "client_secret": "YOU_MUST_CREATE_YOUR_OAUTH2_APP",
    "redirect_uris": [
      "http://localhost"
    ]
  }
}
